page-deck-list {
  img{
    height: auto;
    width: auto;
  }
    .factionPicto{
        height: 30px;
        width: 30px;
    }
    ion-toolbar{
        background-color: map-get($colors, primary);
    }
    ion-select{
        max-width: 100%;
        background-color: white;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        border-radius: 10px;
        padding: 10px;
    }
    .statContainer{
        background-color: transparent;
        font-size: 1.5em;
    }
    ion-col{
        height: 100%;
    }
    .divCard{
        z-index: 90;
    }
    .analyzerButton{
        z-index: 95;
    }
}
