<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ (decks | async)?.length }} Deck(s)</ion-title>
    <ion-buttons end>
      <button ion-button color="white" clear (click)="onAddNewDeck()">
        Ajouter un deck
      </button>
      <button ion-button icon-only color="white" clear (click)="getDecks()">
        <ion-icon name="md-refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
    <ion-toolbar>
      <ion-select name="joueur" placeholder="Filtrage par joueur" interface="action-sheet" [(ngModel)]="selectedPlayer"
      (ionChange)="filteringItem($event)">
        <ion-option *ngFor="let player of comboPlayer" value="{{player.nom}}">{{ player.nom }}</ion-option>
      </ion-select>
    </ion-toolbar>
</ion-header>

<ion-content padding class="window">
  <div class="divCard" *ngFor="let item of decks | async" (click)="onOpenDeckDetail(item)">
    <ion-item class="cardHeader" no-padding no-lines>
      <font class="cardTitle"><b>{{ item?.deckName }}</b></font>
      <p><i>{{ item?.player?.nom }}</i></p>
      <p><font color="'#000000'" *ngIf="item?.aombres > 0">AOmbres : <ion-badge>{{ item?.aombres }}</ion-badge> |</font> 
        <font color="'#000000'" *ngIf="item?.creatures > 0">Créatures : <ion-badge>{{ item?.creatures }}</ion-badge> |</font> 
        <font color="'#000000'" *ngIf="item?.rares > 0">Rares : <ion-badge>{{ item?.rares }}</ion-badge></font></p>
      <img src="{{ item?.faction1?.url }}" item-right/>
      <img src="{{ item?.faction2?.url }}" item-right/>
      <img src="{{ item?.faction3?.url }}" item-right/>
      <ion-icon name="ios-arrow-forward" item-right color="arrow"></ion-icon>
    </ion-item>
  </div>
</ion-content>
