<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ (decks | async)?.length }} Deck(s)</ion-title>
    <ion-buttons end>
      <button ion-button color="white" clear (click)="onAddNewDeck()">
        Ajouter un deck
      </button>
      <!-- <button ion-button icon-only color="white" clear (click)="getDecks()">
        <ion-icon name="md-refresh"></ion-icon>
      </button> -->
    </ion-buttons>
  </ion-navbar>
    <ion-toolbar>
      <ion-select name="joueur" placeholder="Filtrage par joueur" interface="action-sheet" [(ngModel)]="selectedPlayer"
      (ionChange)="filteringItem($event)">
        <ion-option *ngFor="let player of comboPlayer" value="{{player.nom}}">{{ player.nom }}</ion-option>
      </ion-select>
    </ion-toolbar>
</ion-header>

<ion-content padding class="window">
  <div class="statContainer" text-center *ngIf="selectedPlayer !== 'Tous' && selectedPlayer !== '' && selectedPlayer !== null">
    <ion-grid text-center [style.backgroundColor]="'transparent'">
      <ion-row text-center>
        <ion-col text-center>
          <img src="{{ logoDis.faction.url }}"/>
          <font text-center color="'#000000'"><b>x{{ logoDis?.nb }}</b></font> 
        </ion-col>
        <ion-col text-center>
          <img src="{{ logoBrobnar.faction.url }}"/>
          <font color="'#000000'"><b>x{{ logoBrobnar?.nb }}</b></font> 
        </ion-col>
        <ion-col text-center>
          <img src="{{ logoLogos.faction.url }}"/>
          <font color="'#000000'"><b>x{{ logoLogos?.nb }}</b></font> 
        </ion-col>
        <ion-col text-center>
          <img src="{{ logoMars.faction.url }}"/>
          <font color="'#000000'"><b>x{{ logoMars?.nb }}</b></font> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-center text-center>
          <img src="{{ logoSanctum.faction.url }}"/>
          <font color="'#000000'"><b>x{{ logoSanctum?.nb }}</b></font> 
        </ion-col>
        <ion-col col-center text-center>
          <img src="{{ logoShadow.faction.url }}"/>
          <font color="'#000000'"><b>x{{ logoShadow?.nb }}</b></font> 
        </ion-col>
        <ion-col col-center text-center>
          <img src="{{ logoUntamed.faction.url }}"/>
          <font color="'#000000'"><b>x{{ logoUntamed?.nb }}</b></font> 
        </ion-col>
        <ion-col col-center text-center>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="divCard" *ngFor="let item of decks | async" (click)="onOpenDeckDetail(item)">
    <ion-item class="cardHeader" no-padding no-lines>
      <font class="cardTitle"><b>{{ item?.deckName }}</b></font>
      <i>{{ item?.player?.nom }}</i>
      <p>
        <button class="analyzerButton" clear ion-button (click)="onOpenDeckSAS($event,item?.deckName)">
          Deck SAS&nbsp;&nbsp;<ion-icon name="md-open"></ion-icon>
        </button>
        <button class="analyzerButton" clear ion-button (click)="onAnalyzeDeck($event,item?.deckName)">
          Deck analyzer&nbsp;&nbsp;<ion-icon name="md-open"></ion-icon>
        </button>
      </p>
      <p><font color="'#000000'" *ngIf="item?.aombres > 0">AOmbres : <ion-badge>{{ item?.aombres }}</ion-badge> |</font> 
        <font color="'#000000'" *ngIf="item?.creatures > 0">Créatures : <ion-badge>{{ item?.creatures }}</ion-badge> |</font> 
        <font color="'#000000'" *ngIf="item?.rares > 0">Rares : <ion-badge>{{ item?.rares }}</ion-badge></font>
        <font color="'#000000'" *ngIf="item?.chain > 0"> | Chain : <ion-badge color="danger">{{ item?.chain }}</ion-badge></font>
      </p>  
      
      <img class="factionPicto" src="{{ item?.faction1?.url }}" item-right/>
      <img class="factionPicto" src="{{ item?.faction2?.url }}" item-right/>
      <img class="factionPicto" src="{{ item?.faction3?.url }}" item-right/>
      <ion-icon name="ios-arrow-forward" item-right color="arrow"></ion-icon>
    </ion-item>
  </div>
</ion-content>
