<ion-header>
  <ion-navbar>
    <ion-title>Nouveau match</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="window">
  <ion-item no-lines [style.background]="'transparent'">
    <ion-label>Conserver les champs</ion-label>
    <ion-toggle color="primary" checked [(ngModel)]="saveFields" (ionChange)="onChangeToggle($event)"></ion-toggle>
  </ion-item>

  <div class="divCard" text-center [ngClass]="resWinDeck1 === 'Win' ? 'divCardWin' : 'divCard'">
    <ion-item no-lines class="buttonItem" [style.width]="'90%'">
      <button ion-button no-padding block item-left (click)="onChooseDeck(1)" item-left>
          <ion-icon name="albums"></ion-icon>&nbsp;&nbsp;deck</button>
      <button ion-button no-padding block item-left (click)="onChoosePlayer(1)" item-right>
        <ion-icon name="person-add"></ion-icon>&nbsp;&nbsp;joueur</button>
    </ion-item>
    <ion-item text-center no-lines no-padding class="deckSelctionItem">
      <font class="cardTitle" text-center><b>{{ deck1?.deckName }}</b></font>
    </ion-item>
    <i>{{ player1?.nom }}</i>
    <ion-item class="cardHeader" text-center no-padding no-lines>
      <img *ngIf="deck1" src="{{ deck1?.faction1.url }}"/>
      <img *ngIf="deck1" src="{{ deck1?.faction2.url }}"/>
      <img *ngIf="deck1" src="{{ deck1?.faction3.url }}"/>
    </ion-item>
    <ion-item no-lines text-center class="cardHeader" *ngIf="deck1">
      <ion-select interface="action-sheet" placeholder="Résultat" [(ngModel)]="resWinDeck1" name="resPlayer1">
        <ion-option *ngFor="let res of resStatus" [value]="res" (ionSelect)="onUpdateResDeck1()">{{ res }}</ion-option>
      </ion-select>
      <img *ngIf="resWinDeck1 === 'Win'" class="win_picto" src="../assets/imgs/key_win.png" item-right/>
    </ion-item>
  </div>
  <ion-item class="versus" no-lines>
    <h1 text-center><b>VS</b></h1>
  </ion-item>
  <div class="divCard" text-center [ngClass]="resWinDeck2 === 'Win' ? 'divCardWin' : 'divCard'">
    <ion-item no-lines class="buttonItem" [style.width]="'90%'">
      <button ion-button no-padding block item-left (click)="onChooseDeck(2)" item-left><ion-icon name="albums">
      </ion-icon>&nbsp;&nbsp;deck</button>
      <button ion-button no-padding block item-left (click)="onChoosePlayer(2)" item-right>
          <ion-icon name="person-add"></ion-icon>&nbsp;&nbsp;joueur
      </button>
    </ion-item>
    <ion-item no-lines text-center no-padding class="deckSelctionItem">
      <font class="cardTitle" text-center><b>{{ deck2?.deckName }}</b></font>
    </ion-item>
    <i>{{ player2?.nom }}</i>
    <ion-item class="cardHeader" text-center  no-padding no-lines>
      <img *ngIf="deck2" src="{{ deck2?.faction1.url }}"/>
      <img *ngIf="deck2" src="{{ deck2?.faction2.url }}"/>
      <img *ngIf="deck2" src="{{ deck2?.faction3.url }}"/>
    </ion-item>
    <ion-item no-lines class="cardHeader" *ngIf="deck2">
      <ion-select item-left interface="action-sheet" placeholder="Résultat" [(ngModel)]="resWinDeck2" name="resPlayer2">
        <ion-option *ngFor="let res of resStatus" [value]="res" (ionSelect)="onUpdateResDeck2()">{{ res }}</ion-option>
      </ion-select>
      <img *ngIf="resWinDeck2 === 'Win'" class="win_picto" src="../assets/imgs/key_win.png" item-right/>
    </ion-item>
  </div>
  <button ion-button clear class="submitButton" color="dark_red" (click)="onAddNewMatch()">AJOUTER LE MATCH</button>
</ion-content>
