<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="navTitle">Matchs</ion-title>
    <ion-buttons end>
      <button ion-button color="white" clear (click)="onAddNewMatch()">
        Ajouter une partie
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-select name="deck" placeholder="Filtrage par deck" interface="action-sheet" [(ngModel)]="selectedDeck"
    (ionChange)="filteringItem($event)">
      <ion-option *ngFor="let deck of decks" value="{{deck.deckName}}">{{ deck.deckName }}</ion-option>
    </ion-select>
  </ion-toolbar>
</ion-header>

<ion-content padding class="window">
  <!-- <ul>
    <li>Lazy loading</li>
  </ul> -->
  <ion-grid *ngFor="let match of matchs2">
    <ion-row>
      <ion-col>
        <div class="divCard">
          <ion-item class="cardHeader" no-padding no-lines>
            <img *ngIf="match?.deck1Result === 'Win'" class="result_picto" src="../assets/imgs/key_win.png" item-right/>
            <img *ngIf="match?.deck1Result === 'Draw'" class="result_picto" src="../assets/imgs/key_draw.png" item-right/>
            <img src="{{ match?.deck1?.faction1?.url }}" item-left/>
            <img src="{{ match?.deck1?.faction2?.url }}" item-left/>
            <img src="{{ match?.deck1?.faction3?.url }}" item-left/>
            <font class="cardTitle"><b>{{ match?.deck1.deckName }}</b></font>
            <p><font class="cardTitle"><ion-badge><i>{{ match?.player1.nom }}</i></ion-badge></font></p>
          </ion-item>
        </div>
      </ion-col>
      <ion-col col-auto text-center>
        <ion-item class="versus" no-lines>
          <h1><b>VS</b></h1>
        </ion-item>
      </ion-col>
      <ion-col>
        <div class="divCard" >
          <ion-item class="cardHeader" no-padding no-lines>
            <img *ngIf="match?.deck2Result === 'Win'" class="result_picto" src="../assets/imgs/key_win.png" item-left/>
            <img *ngIf="match?.deck2Result === 'Draw'" class="result_picto" src="../assets/imgs/key_draw.png" item-left/>
            <img src="{{ match?.deck2.faction1?.url }}" item-left/>
            <img src="{{ match?.deck2.faction2?.url }}" item-left/>
            <img src="{{ match?.deck2.faction3?.url }}" item-left/>
            <font class="cardTitle"><b>{{ match?.deck2.deckName }}</b></font>
            <p><font class="cardTitle"><ion-badge><i>{{ match?.player2.nom }}</i></ion-badge></font></p>
            <button class="mybutton" ion-button clear icon-only item-right (click)="deleteMatch(match)">
                <ion-icon color="arrow" name="md-trash"></ion-icon>
            </button>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="scrollHandler($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
